body {
  font-family: 'Montserrat', sans-serif;
  background-color: #949b9d;
}

.jumbotron {
  text-align: center;
  background-color: #222222;
  color: #949b9d;
}

.centered-photo {
  border-radius: 50%;
  margin: auto;
  width: 33%;
  height: auto;
  display: block;
  float: right;
  margin-right: 33%;
}