body {
  font-family: 'Montserrat', sans-serif;
  background-color: #949b9d;
}

.jumbotron {
  text-align: center;
  background-color: #222222;
  color: #949b9d;
}

.panel {
  text-align: center;
  color: #222222;
}

.panel ul {
  text-align: left;
}

.panel ol {
  text-align: left;
}

.styled-text {
  font-weight: bold;
  text-decoration: underline;
}

.header {
  clear: both;
  font-weight: bold;
  color: #222222;
  padding: 10px;
}

.profile-photo {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  height: auto;
  display: block;
  padding-bottom: 25px;
}

#miniature-photo {
  float: left;
  border: 2px solid #222222;
  border-radius: 8%;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}